@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body{
    background-image: url('pexels.jpg');
}
main{
    position: absolute;
    top: 20%;
    left: 35% ;
}
#login{
    border: 1px solid gray;
    border-radius: 5%;
    height: 60vh;
    width: 30vw;
    background-color: rgba(163,94,219,0.1);
    /* opacity: 30%; */
    box-shadow: 5px -3px 10px rgb(36, 33, 33) ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 25vw;
    margin-bottom: 10px;
    height: 20px;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
}
input:focus{
    outline: none;
    border-color: #fdfdfd;
    box-shadow: 0 0 10px #feffff;
}

::placeholder{
    color: white;
    font-size: 15px;
    font-family: "Montserrat";
}

#submit{
    width: 10vw;
    height: 40px;
    font-family: "Rampart One";
    font-size: 20px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    box-shadow: 3px -3px 10px rgb(31, 30, 30);
    border-radius: 5%;
    border-color: blanchedalmond;
    justify-content: center;
    align-content: center;
}

#next{
    margin-top: 3vh;
    margin-left: 20px;
    width:inherit;
    display: flex;
    flex-direction: column;

    align-self: flex-start;
}

#forgot{
    margin-left: 0px;
    font-size: 15px;
    font-family: "Montserrat";
    color: white;
    font-weight: 500 ;
    text-decoration: none;
}

#new{
    margin-top: 4vh;
    margin-left: 0px;
    font-size: 15px;
    font-family: "Montserrat";
    color: white;
    font-weight: 500 ;
    text-decoration: none;
}

section{
    margin-top: 6vh;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;  
    justify-self: center;
    text-shadow:1px 1px 2px rgb(0, 0, 0); 
}

#submit:hover{
    background-color: rgb(32, 179, 32);
    cursor: pointer;
    color: white;
}
